{% if __execution_environment_defintion.bindep is defined %}
{%      if __execution_environment_defintion.bindep|length %}
{% for item in __execution_environment_defintion.bindep %}
{{ item }}
{% endfor %}
{%      endif %}
{% endif %}
