---
controller_execution_environments:
{% for exec_env in ee_list %}
- name: {{ exec_env.alt_name | default(exec_env.name)}}
  image: {{ ee_registry_dest }}/{{ exec_env.name }}{% if exec_env.tag is defined %}:{{ exec_env.tag }}{% endif %}

{% if exec_env.description is defined %}
  description: {{ exec_env.description }}
{% endif %}
{% if exec_env.organization is defined %}
  organization: {{ exec_env.organization }}
{% endif %}
{% if exec_env.pull is defined %}
  pull: {{ exec_env.pull }}
{% endif %}
{% if (ee_reg_credential is defined) or (exec_env.ee_reg_credential is defined) %}
  credential: {{ exec_env.ee_reg_credential | default(ee_reg_credential) }}
{% endif %}
{% endfor %}
...
