---
version: {{ ee_version }}

{% if ( (galaxy_cli_opts is defined) or
        (__execution_environment_definition.base_image is defined) or
        (ee_builder_image is defined) ) %}
build_arg_defaults:
{% if galaxy_cli_opts is defined %}
{%    if galaxy_cli_opts|length %}
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: "{{ galaxy_cli_opts }}"
{%    endif %}
{% endif %}
{% if ee_base_image is defined %}
{%    if ee_base_image|length %}
  EE_BASE_IMAGE: {{ ee_base_image }}
{%    endif %}
{% endif %}
{% if ee_builder_image is defined %}
{%    if ee_builder_image|length %}
  EE_BUILDER_IMAGE: {{ ee_builder_image }}
{%    endif %}
{% endif %}
{% endif %}

{% if ansible_config is defined %}
ansible_config: '{{ ansible_config }}'
{% endif %}

{% if (__execution_environment_definition.bindep is defined and __execution_environment_definition.bindep|length ) or
        (__execution_environment_definition.python is defined and __execution_environment_definition.python|length ) or
        (__execution_environment_definition.collections is defined and __execution_environment_definition.collections|length) or
        (__execution_environment_definition.roles is defined and __execution_environment_definition.roles|length) %}
dependencies:
{% if (__execution_environment_definition.bindep is defined and __execution_environment_definition.bindep|length )%}
  system: {{ bindep_file }}
{% endif %}
{% if (__execution_environment_definition.python is defined and __execution_environment_definition.python|length ) %}
  python: {{ python_requirements_file }}
{% endif %}
{% if (__execution_environment_definition.collections is defined and __execution_environment_definition.collections|length) or
        (__execution_environment_definition.roles is defined and __execution_environment_definition.roles|length) %}
  galaxy: {{ galaxy_requirements_file }}
{% endif %}
{% endif %}

{% if (__execution_environment_definition.prepend is defined and __execution_environment_definition.prepend|length) or
        (__execution_environment_definition.append is defined and __execution_environment_definition.append|length) %}
additional_build_steps:
{% if __execution_environment_definition.prepend is defined and __execution_environment_definition.prepend|length %}  prepend: {% else %}{% endif %}

{% if __execution_environment_definition.prepend is defined and __execution_environment_definition.prepend|length %}
{% for item in __execution_environment_definition.prepend %}
    - {{ item }}
{% endfor %}
{% endif %}
{% if __execution_environment_definition.append is defined and __execution_environment_definition.append|length %}  append: {% else %}{% endif %}

{% if __execution_environment_definition.append is defined and __execution_environment_definition.append|length %}
{% for item in __execution_environment_definition.append %}
    - {{ item }}
{% endfor %}
{% endif %}
{% endif %}
