---
{% if ee_roles is defined %}
{% if ee_roles|length %}roles: {% endif %}

{% for item in ee_roles %}
- name: {{ item.name }}
  {% if item.version is defined %}version: {{ item.version }}{% endif %}

{% endfor %}
{% endif %}

{% if ee_collections is defined %}
{% if ee_collections|length %}collections: {% endif %}

{% for item in ee_collections %}
- name: {{ item.name }}
  {% if item.version is defined %}version: {{ item.version }}{% endif %}

{% endfor %}
{% endif %}
