---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
description: A collection of utility roles for usage with Ansible Execution Enviroments
readme: README.md
authors:
    - Sean Sullivan @sean-m-sullivan
    - Anshul Behl @anshulbehl
    - Tom Page @Tompage1994
    - David Danielsson @djdanielsson
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
build_ignore:
    - galaxy.yml.j2
    - release.yml
    - .github
    - .markdownlint.yml
    - .ansible-lint
    - .yamllint.yml
    - .pre-commit-config.yaml
    - .gitignore
    - .gitattributes
license:
    - GPL-3.0-or-later
tags:
    - execution
    - enviroments
    - collection
    - utilities
    - utils
    - infrastructure
    - ee_utilities
    - ee_utils
...
